/* Colors */
/* Breakpoints */
/* General */
.landing {
  font-family: 'Barlow', sans-serif;
  font-size: 17px;
  line-height: 1.2;
  font-weight: 400;
  color: #00728c;
  padding-top: 84px;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.landing a {
  text-decoration: none; }
  .landing a:focus {
    outline: 0; }

.landing sup {
  top: -.25em;
  left: -.15em; }

.landing strong {
  font-weight: 700; }

.landing-disabled-link {
  pointer-events: none;
  color: #d1d3d4 !important; }

.landing img {
  width: 100%;
  height: auto; }

.landing p {
  margin: 0; }

.landing-narrow {
  width: calc(1080/1280 * 100%);
  margin: 0 auto; }

.landing-narrower {
  width: calc(900/1280 * 100%);
  margin: 0 auto; }

@media (max-width: 1100px) {
  .landing-narrower {
    width: calc(1080/1280 * 100%);
    margin: 0 auto; } }

@media (max-width: 640px) {
  .landing {
    font-size: 16px; } }

.landing-button {
  position: relative;
  z-index: 1;
  display: inline-block;
  overflow: hidden;
  padding: 0 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  font-size: 20px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  white-space: nowrap;
  border-radius: 18px;
  cursor: pointer; }
  .landing-button:hover, .landing-button:focus, .landing-button:active {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .landing-button:before {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(1) translateX(-100%);
    -ms-transform: scale(1) translateX(-100%);
    transform: scale(1) translateX(-100%);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }
  .landing-button:hover:before, .landing-button:active:before, .landing-button:focus:before {
    -webkit-transform: scale(20) translateX(0);
    -ms-transform: scale(20) translateX(0);
    transform: scale(20) translateX(0);
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out; }

.landing-button-pink {
  color: #ffffff;
  background: #e34094;
  border: 1px solid #e9e9eb;
  border-radius: 18px;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(48, 45, 42, 0.22);
  box-shadow: 0px 5px 8px 0px rgba(48, 45, 42, 0.22); }
  .landing-button-pink:hover, .landing-button-pink:focus, .landing-button-pink:active {
    color: #ffffff;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(48, 45, 42, 0.5);
    box-shadow: 0px 5px 8px 0px rgba(48, 45, 42, 0.5); }
  .landing-button-pink:before {
    background: #00728c; }

.landing-button-blue {
  color: #ffffff;
  background: #00728c;
  border-radius: 18px; }
  .landing-button-blue:hover, .landing-button-blue:focus, .landing-button-blue:active {
    color: #ffffff; }
  .landing-button-blue:before {
    background: #e34094; }

.landing-button-gray {
  color: #ffffff;
  background: #7d888d;
  border: 1px solid #e9e9eb;
  border-radius: 18px;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(48, 45, 42, 0.22);
  box-shadow: 0px 5px 8px 0px rgba(48, 45, 42, 0.22); }
  .landing-button-gray:hover, .landing-button-gray:focus, .landing-button-gray:active {
    color: #ffffff;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(48, 45, 42, 0.5);
    box-shadow: 0px 5px 8px 0px rgba(48, 45, 42, 0.5); }
  .landing-button-gray:before {
    background: #302d2a; }

.landing-headline {
  font-size: 40px;
  margin: 0;
  font-weight: 400;
  text-transform: uppercase; }

.landing-subheadline {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
  text-transform: uppercase; }

@media (max-width: 800px) {
  .landing-button {
    font-size: 17px; }
  .landing-headline {
    font-size: 24px; }
  .landing-subheadline {
    font-size: 18px; } }

@media (max-width: 640px) {
  .landing-button {
    font-size: 16px; } }

/* Header */
.landing-header {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 84px;
  padding: 0 calc(100/1280 * 100%);
  -webkit-box-shadow: 0px 17px 17px 0px rgba(48, 45, 42, 0.22);
  box-shadow: 0px 17px 17px 0px rgba(48, 45, 42, 0.22); }

.landing-header-bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #e9e9eb;
  border-bottom: 1px solid #ffffff; }

.landing-header-logo {
  max-width: 148px; }

/* Hamburger */
.landing-nav-ham {
  display: none;
  position: relative;
  width: 48px;
  height: 34px;
  cursor: pointer; }
  .landing-nav-ham:before, .landing-nav-ham:after {
    position: absolute;
    left: 0;
    content: "";
    width: 48px;
    height: 2px;
    background: #00728c;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .landing-nav-ham:before {
    top: 11px; }
  .landing-nav-ham:after {
    bottom: 11px; }

.landing-nav-ham.open:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 0px;
  top: 16px; }

.landing-nav-ham.open:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  left: 0px;
  bottom: 16px; }

@media (max-width: 800px) {
  .landing-nav-ham {
    display: block; } }

/* Nav */
.landing-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none; }

.landing-nav a {
  display: block;
  font-size: 16px;
  color: #00728c;
  margin: 0 17px;
  text-align: center;
  text-transform: uppercase; }

.landing-nav-item a {
  position: relative;
  padding: 32px 0; }
  .landing-nav-item a:hover, .landing-nav-item a:active, .landing-nav-item a:focus {
    font-weight: 700; }
  .landing-nav-item a:after {
    display: block;
    content: attr(data-title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden; }
  .landing-nav-item a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: #e34094;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .landing-nav-item a:hover:before, .landing-nav-item a:active:before, .landing-nav-item a:focus:before {
    width: 100%;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }

.landing-nav-dropdown {
  position: relative;
  padding: 32px 0; }

.landing-nav-dropdown > a {
  position: relative;
  z-index: 1;
  background: #e9e9eb; }
  .landing-nav-dropdown > a:after {
    display: block;
    content: attr(data-title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden; }

.landing-nav-dropdown > a img {
  max-width: 100%;
  width: auto; }

.landing-nav-dropdown:hover > a {
  font-weight: 700; }

.landing-nav-dropdown > a img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 5px 2px; }

.landing-nav-dropdown div {
  position: absolute;
  z-index: 9;
  left: 0;
  top: 70%;
  max-height: 0;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  background: #e9e9eb;
  -webkit-box-shadow: 0px 17px 17px 0px rgba(48, 45, 42, 0.22);
  box-shadow: 0px 17px 17px 0px rgba(48, 45, 42, 0.22); }

.landing-nav-dropdown div span {
  display: block; }

.landing-nav-dropdown div a {
  position: relative;
  overflow: hidden;
  display: inline-block;
  font-size: 14px;
  text-align: left;
  white-space: nowrap;
  margin: 0 7px;
  padding: 10px; }
  .landing-nav-dropdown div a:before {
    content: "";
    position: absolute;
    bottom: 5px;
    left: 7px;
    right: 7px;
    width: 0;
    height: 1px;
    background: #e34094;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .landing-nav-dropdown div a:hover:before, .landing-nav-dropdown div a:active:before, .landing-nav-dropdown div a:focus:before {
    width: calc(100% - 14px);
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }

.landing-nav-dropdown div span:last-child a {
  padding-top: 0; }

.landing-nav-dropdown:hover div {
  max-height: 100px;
  height: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.landing-sign-up a {
  position: relative;
  z-index: 1;
  overflow: hidden;
  font-weight: 700;
  line-height: 30px;
  padding: 0 17px;
  overflow: hidden;
  background: transparent;
  border: 2px solid #e34094;
  border-radius: 17px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }
  .landing-sign-up a:hover, .landing-sign-up a:active, .landing-sign-up a:focus {
    color: #ffffff;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }
  .landing-sign-up a:before {
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #e34094;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-transform: scale(1) translateX(-100%);
    -ms-transform: scale(1) translateX(-100%);
    transform: scale(1) translateX(-100%);
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out; }
  .landing-sign-up a:hover:before, .landing-sign-up a:active:before, .landing-sign-up a:focus:before {
    -webkit-transform: scale(8) translateX(0);
    -ms-transform: scale(8) translateX(0);
    transform: scale(8) translateX(0);
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out; }

@media (max-width: 800px) {
  .landing-nav {
    position: fixed;
    z-index: -2;
    display: block;
    right: 0;
    top: 84px;
    width: 100%;
    height: calc(100% - 84px);
    background: #e9e9eb;
    padding: 0 calc(100/1280 * 100%);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .landing-nav.open {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out; }
  .landing-nav-item a {
    padding: 0 0 20px 0;
    margin-bottom: 12px; }
  .landing-nav-dropdown div {
    position: static;
    max-height: 100%;
    height: 100%;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .landing-nav a {
    display: inline-block;
    margin-left: 0;
    margin-right: 0; }
  .landing-nav-dropdown div a {
    margin: 0;
    padding: 10px 0; }
    .landing-nav-dropdown div a:before {
      left: 0;
      right: 0; }
    .landing-nav-dropdown div a:hover:before, .landing-nav-dropdown div a:active:before, .landing-nav-dropdown div a:focus:before {
      width: 100%; } }

/* Slider Hero */
.landing-hero-slider {
  width: 100%;
  height: 610px;
  background: #e9e9eb; }

.landing-hero-slider .swiper-slide {
  position: relative;
  overflow: hidden; }

.landing-hero-slider .swiper-button-prev, .landing-hero-slider .swiper-button-next {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #e34094;
  overflow: hidden;
  background-size: auto 24px; }

.landing-hero-slider .swiper-button-prev {
  background-image: url(../img/arrow-white-left.svg);
  left: -24px;
  background-position: 27px center; }

.landing-hero-slider .swiper-button-next {
  background-image: url(../img/arrow-white-right.svg);
  right: -24px;
  background-position: 8px center; }

/* Slide 1 */
.landing-hero-slide-1 {
  overflow: hidden; }

.landing-hero-slide-1 .landing-hero-slide-bg-left {
  position: absolute;
  width: 628px;
  height: 100%;
  left: -50px;
  top: 0; }

.landing-hero-slide-1 .landing-hero-slide-bg-icons {
  position: absolute;
  left: 280px;
  top: 400px; }

.landing-hero-slide-1 .landing-hero-slide-bg-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 165px; }

.landing-hero-slide-1 .landing-hero-slide-bg-icons div div {
  width: 43px;
  padding-right: 19px; }

.landing-hero-slide-1 .landing-hero-slide-bg-icons div p {
  font-size: 21px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  color: #00b5af; }

.landing-hero-slide-1 .landing-hero-slide-bg-icons span {
  display: block;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: #495965; }

.landing-hero-slide-1 .landing-hero-slide-bg-right {
  position: absolute;
  width: 615px;
  height: 610px;
  top: 0;
  right: -280px; }

.landing-hero-slide-1 .landing-hero-slide-headline {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 107px;
  width: 100%;
  padding: 0 calc(100/1280 * 100%); }

.landing-hero-slide-1 .landing-hero-slide-headline div {
  width: 41%;
  max-width: 443px;
  font-size: 54px;
  line-height: 1.2;
  color: #ffffff;
  padding: 20px 40px;
  background: #00b5af;
  border-radius: 10px;
  border-bottom-left-radius: 66px; }

.landing-hero-slide-1 .landing-hero-slide-headline span {
  font-weight: 600; }

.landing-hero-slide-1 .landing-hero-slide-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 0; }

.landing-hero-slide-1 .landing-hero-slide-image img {
  height: 100%;
  width: auto; }

.landing-hero-slide-1 .landing-hero-slide-image-icons {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 76px 0 0 -34px; }

.landing-hero-slide-1 .landing-hero-slide-image-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px; }

.landing-hero-slide-1 .landing-hero-slide-image-icons div:last-child {
  margin-top: 20px; }

.landing-hero-slide-1 .landing-hero-slide-image-icons div p {
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  color: #00b5af;
  margin-left: 10px; }

.landing-hero-slide-1 .landing-hero-slide-text {
  position: absolute;
  right: calc(150/1280 * 100%);
  top: 340px;
  width: calc(270/1280 * 100%);
  min-width: 250px; }

.landing-hero-slide-1 .landing-hero-slide-text p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px; }

@media (max-width: 1100px) {
  .landing-hero-slide-1 .landing-hero-slide-bg-left {
    left: -220px; }
  .landing-hero-slide-1 .landing-hero-slide-bg-right {
    right: -420px; }
  .landing-hero-slide-1 .landing-hero-slide-headline div {
    font-size: 36px; }
  .landing-hero-slide-1 .landing-hero-slide-text {
    right: 20px; } }

@media (max-width: 800px) {
  .landing-hero-slide-1 .landing-hero-slide-bg-right {
    top: 100px;
    right: -480px; }
  .landing-hero-slide-1 .landing-hero-slide-headline {
    position: relative;
    top: auto;
    margin: 20px auto; }
  .landing-hero-slide-1 .landing-hero-slide-headline div {
    width: 100%;
    max-width: none;
    font-size: 30px; }
  .landing-hero-slide-1 .landing-hero-slide-headline span {
    display: inline; }
  .landing-hero-slide-1 .landing-hero-slide-text {
    position: relative;
    top: auto;
    min-width: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 calc(100/1280 * 100%); }
  .landing-hero-slide-1 .landing-hero-slide-text p {
    font-size: 16px; }
  .landing-hero-slide-1 .landing-hero-slide-image {
    height: calc(100% - 250px); }
  .landing-hero-slide-1 .landing-hero-slide-image-icons {
    margin: -25px 0 0 -25px; } }

@media (max-width: 640px) {
  .landing-hero-slide-1 .landing-hero-slide-headline div {
    font-size: 30px; }
  .landing-hero-slide-1 .landing-hero-slide-bg-left, .landing-hero-slide-1 .landing-hero-slide-bg-right {
    display: none; }
  .landing-hero-slide-1 .landing-hero-slide-text p {
    margin-bottom: 10px; }
  .landing-hero-slide-1 .landing-hero-slide-image {
    height: calc(100% - 300px); }
  .landing-hero-slide-1 .landing-hero-slide-image-icons {
    margin: -35px 0 0 -25px; } }

@media (max-width: 360px) {
  .landing-hero-slide-1 .landing-hero-slide-image {
    height: calc(100% - 350px); }
  .landing-hero-slide-1 .landing-hero-slide-image-icons {
    margin: 0 0 0 -25px; }
  .landing-hero-slide-1 .landing-hero-slide-image-icons div:last-child {
    display: none; } }

/* Slide 2 */
.landing-hero-slide-2 {
  overflow: hidden; }

.landing-hero-slide-2 .landing-hero-slide-bg {
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 0;
  width: 1920px;
  height: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url(../img/hero-slide-2-bg.svg) center bottom no-repeat; }

.landing-hero-slide-2 .landing-hero-slide-headline {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 54px;
  width: 100%;
  padding: 0 calc(100/1280 * 100%); }

.landing-hero-slide-2 .landing-hero-slide-headline div {
  width: 35%;
  max-width: 443px;
  font-size: 54px;
  line-height: 1.2;
  color: #ffffff;
  padding: 20px 40px;
  background: #00b5af;
  border-radius: 10px;
  border-bottom-left-radius: 66px; }

.landing-hero-slide-2 .landing-hero-slide-headline span {
  font-weight: 600; }

.landing-hero-slide-2 .landing-hero-slide-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 140px; }

.landing-hero-slide-2 .landing-hero-slide-image img {
  height: 100%;
  width: auto; }

.landing-hero-slide-2 .landing-hero-slide-image-icons {
  position: absolute;
  left: 80px;
  top: 10px; }

.landing-hero-slide-2 .landing-hero-slide-image-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px; }

.landing-hero-slide-2 .landing-hero-slide-image-icons div:last-child {
  margin-top: 20px; }

.landing-hero-slide-2 .landing-hero-slide-image-icons div p {
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  color: #00b5af;
  margin-left: 10px; }

.landing-hero-slide-2 .landing-hero-slide-text {
  position: absolute;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 160px;
  width: 100%;
  max-width: 1080px; }

.landing-hero-slide-2 .landing-hero-slide-text div {
  width: 30%;
  max-width: 300px; }

.landing-hero-slide-2 .landing-hero-slide-text p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px; }

@media (max-width: 1100px) {
  .landing-hero-slide-2 .landing-hero-slide-headline div {
    font-size: 36px; }
  .landing-hero-slide-2 .landing-hero-slide-image {
    bottom: 80px; }
  .landing-hero-slide-2 .landing-hero-slide-bg {
    background: url(../img/hero-slide-2-bg.svg) center -228px no-repeat; }
  .landing-hero-slide-2 .landing-hero-slide-text {
    bottom: 100px; } }

@media (max-width: 800px) {
  .landing-hero-slide-2 .landing-hero-slide-headline {
    position: relative;
    top: auto;
    margin: 20px auto; }
  .landing-hero-slide-2 .landing-hero-slide-headline div {
    width: 100%;
    max-width: none;
    font-size: 30px; }
  .landing-hero-slide-2 .landing-hero-slide-headline span {
    display: inline; }
  .landing-hero-slide-2 .landing-hero-slide-text {
    position: relative;
    left: auto;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    bottom: auto;
    padding: 0 calc(100/1280 * 100%); }
  .landing-hero-slide-2 .landing-hero-slide-text div {
    width: 100%;
    max-width: 100%; }
  .landing-hero-slide-2 .landing-hero-slide-text p {
    font-size: 16px; }
  .landing-hero-slide-2 .landing-hero-slide-image {
    bottom: -20px; }
  .landing-hero-slide-2 .landing-hero-slide-bg {
    height: calc(100% - 280px);
    background: url(../img/hero-slide-2-bg.svg) center -400px no-repeat; } }

@media (max-width: 640px) {
  .landing-hero-slide-2 .landing-hero-slide-headline div {
    font-size: 30px; }
  .landing-hero-slide-2 .landing-hero-slide-text p {
    margin-bottom: 10px; }
  .landing-hero-slide-2 .landing-hero-slide-image-icons {
    left: 80px;
    top: 10px; }
  .landing-hero-slide-2 .landing-hero-slide-bg {
    display: none; } }

@media (max-width: 360px) {
  .landing-hero-slide-2 .landing-hero-slide-image {
    height: calc(100% - 350px); }
  .landing-hero-slide-2 .landing-hero-slide-image-icons {
    left: 40px;
    top: 10px; }
  .landing-hero-slide-2 .landing-hero-slide-image-icons div:last-child {
    display: none; } }

/* Slide 3 */
.landing-hero-slide-3 {
  overflow: hidden; }

.landing-hero-slide-3 .landing-hero-slide-bg-left {
  position: absolute;
  width: 220px;
  height: 867;
  left: 0;
  bottom: -60px; }

.landing-hero-slide-3 .landing-hero-slide-bg-icons {
  position: absolute;
  left: 280px;
  top: 400px; }

.landing-hero-slide-3 .landing-hero-slide-bg-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 165px; }

.landing-hero-slide-3 .landing-hero-slide-bg-icons div div {
  width: 43px;
  padding-right: 19px; }

.landing-hero-slide-3 .landing-hero-slide-bg-icons div p {
  font-size: 21px;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  color: #00b5af; }

.landing-hero-slide-3 .landing-hero-slide-bg-icons span {
  display: block;
  width: 100%;
  height: 1px;
  margin: 10px 0;
  background: #495965; }

.landing-hero-slide-3 .landing-hero-slide-bg-right {
  position: absolute;
  width: 765px;
  height: 100%;
  bottom: 0;
  right: 0; }

.landing-hero-slide-3 .landing-hero-slide-bg-right div {
  position: absolute;
  right: 40px;
  top: 205px; }

.landing-hero-slide-3 .landing-hero-slide-headline {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 50px;
  width: 100%;
  padding: 0 calc(100/1280 * 100%); }

.landing-hero-slide-3 .landing-hero-slide-headline div {
  width: 50%;
  max-width: 620px;
  font-size: 54px;
  line-height: 1.2;
  color: #ffffff;
  padding: 20px 40px;
  background: #00b5af;
  border-radius: 10px;
  border-bottom-left-radius: 66px; }

.landing-hero-slide-3 .landing-hero-slide-headline span {
  font-weight: 600; }

.landing-hero-slide-3 .landing-hero-slide-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  position: absolute;
  left: 45%;
  bottom: 0; }

.landing-hero-slide-3 .landing-hero-slide-image img {
  height: 100%;
  width: auto; }

.landing-hero-slide-3 .landing-hero-slide-image-icons {
  -ms-flex-item-align: start;
  align-self: flex-start;
  margin: 70px 0 0 0; }

.landing-hero-slide-3 .landing-hero-slide-image-icons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 5px; }

.landing-hero-slide-3 .landing-hero-slide-image-icons div:last-child {
  margin-top: 20px; }

.landing-hero-slide-3 .landing-hero-slide-image-icons div p {
  font-size: 12px;
  line-height: 1;
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  color: #00b5af;
  margin-left: 10px; }

.landing-hero-slide-3 .landing-hero-slide-text {
  position: absolute;
  left: calc(240/1280 * 100%);
  top: 340px;
  width: calc(270/1280 * 100%);
  min-width: 300px; }

.landing-hero-slide-3 .landing-hero-slide-text p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px; }

@media (max-width: 1100px) {
  .landing-hero-slide-3 .landing-hero-slide-bg-left {
    left: -100px; }
  .landing-hero-slide-3 .landing-hero-slide-bg-right {
    right: -400px; }
  .landing-hero-slide-3 .landing-hero-slide-bg-right div {
    display: none; }
  .landing-hero-slide-3 .landing-hero-slide-headline div {
    font-size: 36px; }
  .landing-hero-slide-3 .landing-hero-slide-text {
    top: 300px; } }

@media (max-width: 800px) {
  .landing-hero-slide-3 .landing-hero-slide-headline {
    position: relative;
    top: auto;
    margin: 20px auto; }
  .landing-hero-slide-3 .landing-hero-slide-headline div {
    width: 100%;
    max-width: none;
    font-size: 30px; }
  .landing-hero-slide-3 .landing-hero-slide-headline span {
    display: inline; }
  .landing-hero-slide-3 .landing-hero-slide-text {
    position: relative;
    top: auto;
    min-width: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 calc(100/1280 * 100%); }
  .landing-hero-slide-3 .landing-hero-slide-text p {
    font-size: 16px; }
  .landing-hero-slide-3 .landing-hero-slide-image {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    height: calc(100% - 250px); }
  .landing-hero-slide-3 .landing-hero-slide-image-icons {
    margin: -25px 0 0 -25px; }
  .landing-hero-slide-3 .landing-hero-slide-bg-left, .landing-hero-slide-3 .landing-hero-slide-bg-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
  .landing-hero-slide-3 .landing-hero-slide-bg-left {
    left: -50px;
    width: 150px; }
  .landing-hero-slide-3 .landing-hero-slide-bg-right {
    width: 522px;
    right: -200px; } }

@media (max-width: 640px) {
  .landing-hero-slide-3 .landing-hero-slide-headline div {
    font-size: 30px; }
  .landing-hero-slide-3 .landing-hero-slide-bg-left, .landing-hero-slide-3 .landing-hero-slide-bg-right {
    display: none; }
  .landing-hero-slide-3 .landing-hero-slide-text p {
    margin-bottom: 10px; }
  .landing-hero-slide-3 .landing-hero-slide-image {
    height: calc(100% - 150px);
    bottom: -190px; }
  .landing-hero-slide-3 .landing-hero-slide-image-icons {
    margin: 0 0 0 0; } }

@media (max-width: 360px) {
  .landing-hero-slide-3 .landing-hero-slide-image {
    height: calc(100% - 250px);
    bottom: -150px; }
  .landing-hero-slide-3 .landing-hero-slide-image-icons div:last-child {
    display: none; } }

/* Slider Bill Providers */
.landing-bill-providers {
  padding: 40px 0; }

.landing-bill-providers .landing-subheadline {
  color: #e34094;
  text-align: center;
  margin-bottom: 30px; }

.landing-bill-providers-slider {
  width: 100%;
  height: 63px; }

.landing-bill-providers-slider .swiper-button-prev, .landing-bill-providers-slider .swiper-button-next {
  width: 12px;
  height: 24px;
  overflow: hidden;
  background-size: auto 24px;
  margin-top: -12px; }

.landing-bill-providers-slider .swiper-button-prev {
  background-image: url(../img/arrow-pink-left.svg); }

.landing-bill-providers-slider .swiper-button-next {
  background-image: url(../img/arrow-pink-right.svg); }

.landing-bill-providers-slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

/* Pay a bill now */
.landing-pay-a-bill-now {
  text-align: center;
  margin-bottom: 100px; }

.landing-pay-a-bill-now-dropdown {
  max-height: 0;
  margin-top: -18px;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.landing-pay-a-bill-now-dropdown.open {
  max-height: 2000px;
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out; }

.landing-pay-a-bill-now .landing-button.active:before {
  -webkit-transform: scale(20) translateX(0);
  -ms-transform: scale(20) translateX(0);
  transform: scale(20) translateX(0);
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.landing-pay-a-bill-now-wrapper {
  padding: 34px;
  margin: 0 calc(100/1280 * 100%) 10px;
  background: #f3f3f3;
  border: 1px solid #e9e9eb;
  border-radius: 18px;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(48, 45, 42, 0.22);
  box-shadow: 0px 5px 8px 0px rgba(48, 45, 42, 0.22); }

.landing-pay-a-bill-now-mask {
  position: absolute;
  left: 50%;
  top: -1px;
  width: 300px;
  max-width: 300px;
  height: 22px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: url("../img/bg-pay-a-bill-dropdown.svg") center center no-repeat;
  background-size: 100% auto; }

.landing-pay-a-bill-now-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 20px; }

.landing-pay-a-bill-now-up a {
  width: 25%;
  padding: 30px;
  font-weight: 700;
  color: #00b5af;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out; }
  .landing-pay-a-bill-now-up a:hover {
    border: 1px solid #c6cdd1;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out; }

.landing-pay-a-bill-now-up a img {
  max-width: 100%;
  width: auto; }

.landing-pay-a-bill-now-up a p {
  margin-top: 20px; }

.landing-pay-a-bill-now-comingsoon h2 {
  color: #e34094;
  border-bottom: 1px solid #c6cdd1;
  padding-bottom: 10px;
  margin-bottom: 20px; }

.landing-pay-a-bill-now-comingsoon div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.landing-pay-a-bill-now-comingsoon div p {
  width: 18%;
  color: #c6cdd1; }

@media (max-width: 800px) {
  .landing-pay-a-bill-now-up a {
    width: 50%;
    padding: 30px;
    margin-bottom: 30px; }
  .landing-pay-a-bill-now-comingsoon div {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .landing-pay-a-bill-now-comingsoon div p {
    width: calc(1/3 * 100%);
    margin-bottom: 20px; } }

@media (max-width: 640px) {
  .landing-pay-a-bill-now {
    margin-bottom: 40px; }
  .landing-pay-a-bill-now-up a {
    width: 100%; }
  .landing-pay-a-bill-now-comingsoon div p {
    width: 100%; }
  .landing-pay-a-bill-now-mask {
    top: -2px;
    width: 80%; } }

/* Benefits */
.landing-benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 100px; }

.landing-benefits-item {
  width: 22%;
  text-align: center; }

.landing-benefits-item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 128px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-bottom: 20px; }

.landing-benefits-item-img svg {
  max-width: 100%;
  height: auto; }

.landing-benefits h2 {
  color: #e34094;
  margin-bottom: 10px; }

@media (max-width: 1100px) {
  .landing-benefits-item {
    width: 48%;
    margin-bottom: 40px; } }

@media (max-width: 640px) {
  .landing-benefits {
    margin-bottom: 40px; }
  .landing-benefits-item {
    width: 100%; } }

/* Benefits */
.landing-benefit {
  position: relative;
  overflow: hidden; }

.landing-benefit .landing-narrower {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.landing-benefit-text {
  position: relative;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  z-index: 1;
  margin-top: 55px;
  width: calc(400/900 * 100%); }

.landing-benefit-text-img {
  position: absolute;
  z-index: 2;
  top: 0; }

.landing-benefit-text-img svg {
  display: block;
  width: 100%;
  height: auto;
  background: transparent; }

.landing-benefit-text-txt {
  position: relative;
  margin-top: 40px;
  padding: 20px 0 20px 40px;
  text-align: right;
  border: 1px solid #e34094;
  border-radius: 10px;
  border-bottom-left-radius: 66px; }

.landing-benefit-text-txt h1 {
  position: relative;
  text-align: left;
  letter-spacing: -1px;
  color: #e34094;
  padding-bottom: 20px;
  margin-bottom: 20px; }

.landing-benefit-dotted {
  position: absolute;
  bottom: 0;
  width: 300%;
  border-top: 1px dotted #e34094; }

.landing-benefit-text-txt p {
  text-align: left;
  margin: 0 40px 40px 0; }

.landing-benefit-text-txt .landing-button {
  margin-right: 40px; }

.landing-benefit-image {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  z-index: 3;
  width: calc(580/900 * 100%);
  overflow: hidden; }

.landing-benefit-image:before {
  content: "";
  display: block;
  padding-top: 100%; }

.landing-benefit-image div {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.landing-benefit-odd .landing-benefit-text-img {
  left: 0; }

.landing-benefit-odd .landing-benefit-dotted {
  right: 0; }

.landing-benefit-odd .landing-benefit-image {
  margin-left: calc(-80/900 * 100%); }

.landing-benefit-odd .landing-benefit-text-txt {
  margin-left: 50px; }

.landing-benefit-even .landing-benefit-dotted {
  left: 0; }

.landing-benefit-even .landing-benefit-image {
  margin-right: calc(-80/900 * 100%); }

.landing-benefit-even .landing-benefit-text {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2; }

.landing-benefit-even .landing-benefit-text-img {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
  right: 0; }

.landing-benefit-even .landing-benefit-text-txt {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  margin-right: 50px; }

.landing-benefit-paywithease .landing-benefit-text-img {
  width: calc(69/400 * 100%);
  max-width: 69px; }

.landing-benefit-manageyourbills .landing-benefit-text-img {
  width: calc(148/400 * 100%);
  max-width: 148px;
  right: 15px; }

.landing-benefit-manageyourbills .landing-benefit-text-txt h1 {
  padding-right: 70px; }

.landing-benefit-stayincontrol .landing-benefit-text-img {
  width: calc(118/400 * 100%);
  max-width: 118px;
  left: -50px; }

.landing-benefit-stayincontrol .landing-benefit-text-txt {
  margin-top: 75px; }

.landing-benefit-saveasyougo .landing-benefit-text-img {
  width: calc(124/400 * 100%);
  max-width: 124px;
  right: -32px; }

.landing-benefit-saveasyougo .landing-benefit-text-txt {
  margin-top: 75px; }

@media (max-width: 800px) {
  .landing-benefit {
    margin-bottom: 40px; }
  .landing-benefit .landing-narrower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .landing-benefit-text, .landing-benefit-image {
    width: 100%; }
  .landing-benefit-text {
    margin-top: -40px; }
  .landing-benefit-odd .landing-benefit-text {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1; }
  .landing-benefit-odd .landing-benefit-img {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2; }
  .landing-benefit-odd .landing-benefit-image {
    margin-left: 0; }
  .landing-benefit-even .landing-benefit-image {
    margin-right: 0; }
  .landing-benefit-stayincontrol .landing-benefit-text-txt {
    margin-top: 20px; }
  .landing-benefit-stayincontrol .landing-benefit-text-img {
    top: -40px; }
  .landing-benefit-saveasyougo .landing-benefit-text-txt {
    margin-top: 20px; }
  .landing-benefit-saveasyougo .landing-benefit-text-img {
    top: -40px; } }

@media (max-width: 640px) {
  .landing-benefit .landing-narrower {
    width: 100%; }
  .landing-benefit-odd .landing-benefit-text-txt, .landing-benefit-even .landing-benefit-text-txt {
    margin-left: 50px;
    margin-right: 50px; }
  .landing-benefit-paywithease .landing-benefit-text-img {
    left: 10px; }
  .landing-benefit-manageyourbills .landing-benefit-text-img {
    right: 10px; }
  .landing-benefit-manageyourbills .landing-benefit-text-txt h1 {
    padding-right: 90px; }
  .landing-benefit-stayincontrol .landing-benefit-text-img {
    left: 10px; }
  .landing-benefit-stayincontrol .landing-benefit-text-txt h1 {
    padding-left: 50px; }
  .landing-benefit-saveasyougo .landing-benefit-text-img {
    right: 10px; } }

/* Customers */
.landing-customers {
  text-align: center;
  width: calc(1188/1280 * 100%);
  margin: 80px auto; }

.landing-customers h2 {
  margin-bottom: 40px;
  color: #e34094; }

.landing-customers-testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.landing-testimonial {
  width: calc(1/3 * 100%); }

.landing-testimonial-image {
  position: relative;
  width: calc(130/(1188/3) * 100%);
  margin: 0 auto; }
  .landing-testimonial-image:after {
    content: "";
    display: block;
    padding-top: 100%; }

.landing-testimonial-image-bg, .landing-testimonial-image-img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: hidden; }

.landing-testimonial-image-bg {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center; }

.landing-testimonial-image-img {
  width: calc(88/130 * 100%);
  height: calc(88/130 * 100%);
  border: 2px solid #00b5af;
  border-radius: 50%; }

.landing-testimonial-image-object {
  position: absolute; }

.landing-testimonial-text {
  border-right: 1px dotted #e34094; }

.landing-testimonial:last-child .landing-testimonial-text {
  border-right: 0; }

.landing-testimonial-text, .landing-testimonial-user {
  padding: 0 calc(60/(1188/3) * 100%) 20px; }

.landing-testimonial-rugby .landing-testimonial-image-object {
  left: 65%;
  top: 40%;
  width: calc(67/130 * 100%); }

.landing-testimonial-dog .landing-testimonial-image-object {
  left: 75%;
  top: 20%;
  width: calc(50/130 * 100%); }

.landing-testimonial-sailboat .landing-testimonial-image-object {
  left: 80%;
  top: 25%;
  width: calc(41/130 * 100%); }

@media (max-width: 800px) {
  .landing-testimonial {
    width: 100%; }
  .landing-testimonial-text {
    border-right: 0; }
  .landing-customers {
    margin: 40px 0; } }

/* CTA */
.landing-CTA {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 284px;
  margin-bottom: 130px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f3f3f3; }

.landing-CTA-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.landing-CTA-spinner {
  width: 385px; }

@media (max-width: 640px) {
  .landing-CTA {
    margin-bottom: 40px; }
  .landing-CTA-spinner {
    width: 90%; } }

.landing-footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #c6cdd1;
  padding: 20px 0; }

.landing-footer-logo {
  max-width: 148px; }

.landing-footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.landing-footer-nav div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-left: 60px; }

.landing-footer-nav strong {
  font-size: 16px;
  color: #00728c;
  line-height: 1.5; }

.landing-footer-nav a {
  font-size: 14px;
  line-height: 1.5;
  position: relative;
  color: #00728c;
  text-transform: uppercase; }
  .landing-footer-nav a:hover, .landing-footer-nav a:active, .landing-footer-nav a:focus {
    color: #00728c; }
  .landing-footer-nav a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: #e34094;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out; }
  .landing-footer-nav a:hover:before, .landing-footer-nav a:active:before, .landing-footer-nav a:focus:before {
    width: 100%;
    -webkit-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out; }

.landing-footer-copyright {
  background: #f3f3f3;
  padding: 10px 0;
  font-size: 12px;
  color: #495965;
  text-align: right; }

@media (max-width: 800px) {
  .landing-footer-top {
    display: block; }
  .landing-footer-logo {
    margin-bottom: 20px; }
  .landing-footer-nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .landing-footer-nav div {
    width: 45%;
    margin-left: 0;
    margin-bottom: 20px; }
  .landing-footer-copyright {
    text-align: left; } }

/*# sourceMappingURL=landing.css.map */