/* Global Styles */

html, body {
    height: 100%;
}

body {
    padding-top: 80px;
    padding-bottom: 20px;
}

.dropdown {
    cursor:pointer;
}

/* Footer Styles */
footer {
    margin: 50px 0 0 0;
}

#loaderContainer{
    width: 20%;
    margin: 0 auto;
}

/* Responsive Styles */
@media (max-width: 767px) {

    #loaderContainer{
        width: 40%;
    }

    .navbar-brand{
        text-align: center;
        width: 100%;
    }
}

.col-centered{
    float: none;
    margin: 0 auto;
}